<div class="flex 

  justify-between shadow-xl z-10
  top-0 sticky"
  id="big-screen-header">

  <div class="p-3 flex mt-0 mb-0 my-auto text-secondary font-extrabold xs:justify-center">
    <a routerLink="hi"><img width="125px" src="assets/logo.png" alt=""></a>
  </div>


  <div class="pt-3 pl-3 pr-3 pb-4 
  mt-0 mb-0
  xs:justify-center 
  sticky top-0 z-10

  ">
    <ul class="navul flex list-none m-0 p-0 text-white font-light transition-all flex-wrap justify-center">
      <li routerLink="hi" routerLinkActive="nav-active">Home</li>
      <!-- <li routerLink="experience" class="disabled" routerLinkActive="nav-active">Experience</li> -->
      <li routerLink="skills" routerLinkActive="nav-active">Skills</li>
      <!-- <li routerLink="projects" routerLinkActive="nav-active">Projects</li> -->
      <!-- <li routerLink="contact" routerLinkActive="nav-active">Contact</li> -->
    </ul>
  </div>

</div>




 
<!-- 
  <div style="width: 100%; background: yellow">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laboriosam temporibus, porro assumenda quaerat, voluptate consequuntur eveniet maiores modi expedita debitis quo? Corrupti mollitia vitae ducimus expedita corporis voluptas, ut cupiditate nostrum minus dicta, similique aperiam harum ullam! Perspiciatis inventore similique recusandae corporis voluptates consectetur dicta molestiae. Pariatur, inventore ad.
  </div> -->