<div class="w-full flex md:flex-row xs:flex-col justify-between relative top-0 shadow-xl z-10 mb-7">

  <div class="p-3 flex mt-0 mb-0 my-auto text-secondary font-extrabold xs:justify-center">
    <!-- <div class="self-center text-pink-600 text-4xl p-3">Alex</div> -->
    <img src="assets/logo.png" alt="">
  </div>


  <div class="pt-3 pl-3 pr-3 pb-4 flex mt-0 mb-0 my-auto xs:justify-center">
    <ul class="navul flex list-none m-0 p-0 text-white font-light transition-all">
      <li routerLink="hi" routerLinkActive="nav-active">Home</li>
      <li routerLink="skills" routerLinkActive="nav-active">Skills</li>
      <li routerLink="experience" routerLinkActive="nav-active">Experience</li>
      <li routerLink="projects" routerLinkActive="nav-active">Projects</li>
      <li routerLink="contact" routerLinkActive="nav-active">Contact</li>
    </ul>
  </div>

</div>