<div class="flex xl:flex-row xs:flex-col justify-between fadeAnim">

    <div class="flex flex-col 
    xl:w-1/2 l xs:w-full
    xl:text-right xs:text-center
    xs:mb-6
    justify-between h-full xl:pr-14 xl:border-solid xl:border-r 
        xl:border-white xl:border-opacity-10">
        <div class="justify-start">
            <h1 class="mb-1">Hallo! I'm Alex.</h1>
            <h2 class="mb-2">I’m a German Developer, Student, and Human</h2>
            <div class="mb-2">
                <p class="text mb-3">With several years of experience in the Tech-Industry, I have built a broad
                    understanding of different Technologies. I strive to improve myself everyday, whether it’s
                    professionally or personally. I am bilingual, travel a lot and love to play Video Games.</p>
            </div>
            <p class="text">Oh, and my pseudonym is Kopper.</p>
        </div>

        <div class="text social-media mt-3 justify-end">
            <a href="https://www.xing.com/profile/Alexander_Miller77/" target="_blank"><img src="assets/xing.png"
                    alt=""></a>
            <a href="https://twitter.com/Alex_M1ller" target="_blank"><img src="assets/twitter.png" alt=""></a>
            <a href="https://www.linkedin.com/in/alexandermill3r/" target="_blank"><img src="assets/linkedin.png"
                    alt=""></a>
            <a href="https://github.com/k0pper" target="_blank"><img src="assets/github.png" alt=""></a>
        </div>

    </div>

    <div class="flex xl:w-1/2 xl:pl-14 xs:w-full xs:justify-center ">
        <img class="rounded-full xl:w-10/12 lg:w-6/12 xs:w-9/12 floatAnim" src="assets/squat.png" alt="">
    </div>

</div>