

<div class="c opacity-0 pageFade xs:text-center sm:text-left">

    <div class="pic pageFade opacity-0" style="animation-delay: 500ms;">
        <div class="pic-container">
            <img class="rounded-full floatAnim" src="assets/squat.png" alt="">
        </div>
    </div>

    <div class="me">
            <p class="mb-3 text-xl font-extralight">Hello!</p>
            <h1 class="mb-2 xs:text-3xl sm:text-4xl md:text-5xl lg:text-6xl">I am Alexander Miller</h1>
            <p class="text-xl font-light mb-5  pageFade opacity-0" style="animation-delay: 1500ms;">IT-Specialist and Prospective Designer</p>

            <!-- <div class="what-i-do">
                <p class="text-xl"> Find out what I do  </p>

                <div class="arrow-button">
                    <div>x</div>
                </div>
                
            </div> -->
            <!-- <div class="mb-2">
                <p class="text mb-3">With several years of experience in the Tech-Industry, I have built a broad
                    understanding of different Technologies. I strive to improve myself everyday, whether it’s
                    professionally or personally. I am bilingual, travel a lot and love to play Video Games.</p>
            </div>
            <p class="text">Oh, and my pseudonym is Kopper.</p> -->
    </div>

</div>