<div class="flex flex-row h-3/4 fadeAnim">

    <div class="w-1/2 text-right flex flex-col justify-between h-full pr-14 border-solid border-r border-white border-opacity-10">
        <div class="justify-start">
            <h1 class="mb-1">Guten Tag! I'm Alex.</h1>
            <h2 class="mb-2">I’m a Developer, Student, and Human</h2>
            <div class="mb-2">
                <span class="text mb-3">With several years of experience in the Tech-Industry, I have built a broad understanding of different Technologies. I strive to improve myself everyday, whether it’s professionally or personally. I am bilingual, travel a lot and love to play Video Games.</span>
            </div>
            <span class="text">Oh, and my pseudonym is Kopper.</span>
        </div>
        
        <div class="text social-media justify-end">
            <img src="assets/xing.png" alt="">
            <img src="assets/twitter.png" alt="">
            <img src="assets/linkedin.png" alt="">
        </div>

    </div>

    <div class="flex w-1/2 pl-14">
        <div>
            <img class="rounded-full" src="assets/squat.png" alt="">
        </div>
    </div>

</div>